.event-management-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-management-title {
    margin-bottom: 0;
}

.management-section-header {
    margin-top: 40px;
    margin-bottom: 10px;
}

.event-info-management {
    display: flex;
    gap: 25px;
}

.toggle-form-state {
    display: flex;
    align-items: center;
}

.toggle-form-state h3 {
    font-weight: 400;
}

.table-container {
    margin-top: 10px;

    border-radius: 10px;
    border: 1px solid lightgray;

    overflow: auto;
}

.registration-table {
    width: 100%;

    border-collapse: collapse;
}

.registration-table th,
.registration-table td {
    padding: 15px;

    max-width: 200px;

    white-space: pre-wrap;
    word-wrap: break-word;

    text-align: left;
    /* border: 1px solid lightgray; */
}

.registration-table th {
    padding: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;

    background-color: var(--siteLightBlue);
}

.registration-table tr:nth-child(even) {
    background-color: #f0f6ff;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    box-sizing: border-box;
}

.header-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sorting-icon {
    height: 15px;
}

.registration-table td {
    padding: 10px 15px;
}

.search-input {
    width: 200px;

    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.export-button {
    margin-left: 20px;

    padding: 10px;

    border-radius: 5px;
    border: 2px solid gray;

    background-color: lightgrey;
}

@media (max-width: 950px) {
    .event-management-button {
        padding: 8px 10px;

        font-size: 12px;
    }

    .event-management-title {
        font-size: 45px;
    }

    .registration-table {
        font-size: 14px;
    }
}

@media (max-width: 710px) {
    .event-management-header {
        margin-bottom: 40px;

        flex-direction: column;
        align-items: flex-start;

        position: relative;
    }

    .event-management-title {
        margin-bottom: 20px;
    }

    .registration-table {
        font-size: 12px;
    }

    .registration-table th {
        padding: 15px;
    }

    .sorting-icon {
        height: 13px;
    }
}

@media (max-width: 550px) {
    .registration-table td, .registration-table.td {
        max-width: 150px;
    }
}

@media (max-width: 425px) {
    .event-management-title {
        font-size: 40px;
    }

    .table-actions {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .export-button {
        width: fit-content;

        margin: 0;
    }

    .search-input {
        padding: 7px;

        font-size: 10px;
    }
}