.authpage {
    width: 100%;

    display: flex;
    justify-content: center;
}

.left-auth {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0.4;

    background-color: var(--siteBlue);

    color: white;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    text-align: center;
    font-weight: 900;
}

.welcome-subtext {
    font-weight: 400;
}

.switch-page {
    padding: 10px 30px;

    color: white;

    border: 1px solid white;
    border-radius: 5px;
}

.switch-page:hover {
    color: black;

    background-color: white;
}

.right-auth {
    height: 100vh;

    flex: 0.6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background-color: var(--siteLightBlue); */
}

.auth-form-heading {
    margin-bottom: 30px;
}

.account-type-container {
    margin: 20px;
    margin-top: 0;

    padding: 5px;

    display: flex;
    align-items: center;
    /* gap: 5px; */

    border-radius: 5px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    background-color: white;

    position: relative;

    overflow: hidden;
}

.account-type {
    width: 60px;
    margin: 0;
    padding: 3px 15px;

    color: black;
    text-align: center;

    border-radius: 3px;

    position: relative;
    z-index: 5;
    cursor: pointer;
}

.selected-account-type {
    color: white;
}

.selected-type-highlighter {
    height: 100%;
    width: 50%;

    position: absolute;

    background-color: var(--siteGreen);

}

.type-student {
    left: 0;
}

.type-club {
    right: 0;
}

.auth-form {
    width: clamp(300px, 40%, 40%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-form-input {
    width: 100%;

    padding: 10px;

    border: 2px solid var(--siteLightBlue);
    border-radius: 5px;
}

.submit-auth {
    width: 100%;

    padding: 12px 30px;

    color: white;

    background-color: var(--siteLightBlue);
    border-radius: 5px;

    cursor: pointer;
}

.error-message {
    width: 100%;

    margin: 0;
    margin-bottom: -10px;

    color: orangered;
}

@media (min-width: 1023px) and (max-width: 1300px) {
    .welcome-text {
        font-size: clamp(45px, 4vw, 4vw);
    }
}

@media (max-width: 1023px) {
    .authpage {
        height: 100vh;

        flex-direction: column;
        justify-content: flex-start;
    }

    .left-auth {
        flex: 0.2;

        justify-content: center;
        padding: 40px 0px;
    }

    .welcome-text {
        margin: 20px;
    }

    .right-auth {
        flex: 0.8;

        padding-bottom: 30px;

        justify-content: center;
    }
}

@media (max-width: 425px) {
    .welcome-text {
        margin: 20px 10px;

        font-size: 12.02vw;
    }

    .welcome-subtext {
        font-size: 4.24vw;
    }

    .switch-page {
        padding: 2.36% 7.07%;
    }

    .selected-account-type {
        font-size: 3.77vw;
    }

    .account-type {
        padding: 0px 10px;
    }

    .auth-form {
        width: 75%;
    }
}

@media (max-width: 375px) {
    .error-message {
        font-size: 14px;
    }
}