.user-name {
    /* margin-bottom: 10px; */
    position: relative;
}

.signout {
    padding: 3px 5px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    color: red;
    font-weight: 700;
    font-size: 14px;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-detail {
    width: fit-content;
    margin: 0;

}

.user-detail-divider {
    width: 1px;
    height: 20px;

    background-color: lightgray;
}

.edit-details {
    padding: 5px 10px;

    color: white;

    border-radius: 5px;

    background-color: var(--siteLightBlue);
}

.detail-section {
    margin-top: 40px;
}

@media (max-width: 961px) {
    .user-details {
        gap: 20px;
    }

    .edit-details {
        text-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .user-details {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 425px) {
    .user-name {
        font-size: 40px;
    }

    .user-detail {
        font-size: 14px;
    }

    .detail-section h2 {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .user-name {
        display: flex;
        flex-direction: column-reverse;
    }

    .signout{
        position: unset;
        text-align: right;
    }
}